1. Create a function to perform basic arithmetic operations that includes
addition, subtraction, multiplication and division on a string number (e.g. &quot;12 +
24&quot; or &quot;23 - 21&quot; or &quot;12 // 12&quot; or &quot;12 * 21&quot;).

In [1]:
def arithmetic_operation(string):
    s = string.split(' ')
    s[0],s[2] = int(s[0]),int(s[2])
    if s[1]=='+':
        return (f'{string} = {s[0]+s[2]}')
    if s[1]=='-':
        return (f'{string} = {s[0]-s[2]}')
    if s[1]=='*':
        return (f'{string} = {s[0]*s[2]}')
    if s[1]=='//':
        return (f'{string} = {s[0]//s[2]}')

In [2]:
arithmetic_operation('12 + 24')

'12 + 24 = 36'

In [3]:
arithmetic_operation('12 - 24')

'12 - 24 = -12'

In [4]:
arithmetic_operation('12 * 24')

'12 * 24 = 288'

In [5]:
arithmetic_operation('12 // 24')

'12 // 24 = 0'

2. Write a function that takes the coordinates of three points in the form of a
2d array and returns the perimeter of the triangle. The given points are the
vertices of a triangle on a two-dimensional plane.

In [6]:
import math
def perimeter(coordinates):
    x1,y1 = coordinates[0][0],coordinates[0][1]
    x2,y2 = coordinates[1][0],coordinates[1][1]
    x3,y3 = coordinates[2][0],coordinates[2][1]
    
    AB = math.sqrt(((x2-x1)**2)+((y2-y1)**2))
    BC = math.sqrt(((x3-x2)**2)+((y3-y2)**2))
    CA = math.sqrt(((x1-x3)**2)+((y1-y3)**2))
    
    return f'Perimeter of the Triangle using the given coordiates is {round(AB+BC+CA,2)} units'

In [7]:
perimeter([[15,7],[5,22],[11,1]])

'Perimeter of the Triangle using the given coordiates is 47.08 units'

3. A city skyline can be represented as a 2-D list with 1s representing
buildings. In the example below, the height of the tallest building is 4 (second-
most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0&#39;s and 1&#39;s) and returns the
height of the tallest skyscraper.

In [8]:
def tallest_skyscraper(array):
    max_h = len(array)
    for i in array:
        if 1 in i:
            return max_h
        else: max_h-=1

In [9]:
tallest_skyscraper([
[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
])

3

In [10]:
tallest_skyscraper([
[0, 1, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
])

4

In [11]:
tallest_skyscraper([
[0, 0, 0, 0],
[0, 0, 0, 0],
[1, 1, 1, 0],
[1, 1, 1, 1]
])

2

4. A financial institution provides professional services to banks and claims
charges from the customers based on the number of man-days provided.
Internally, it has set a scheme to motivate and reward staff to meet and
exceed targeted billable utilization and revenues by paying a bonus for each
day claimed from customers in excess of a threshold target.
This quarterly scheme is calculated with a threshold target of 32 days per
quarter, and the incentive payment for each billable day in excess of such
threshold target is shown as follows:
Days Bonus
0 to 32 days Zero
33 to 40 days SGD$325 per billable day
41 to 48 days SGD$550 per billable day
Greater than 48 days SGD$600 per billable day

In [12]:
def bonus(days):
    incentive=0
    if days>32 and days<41:
        incentive = (days-32)*325
    if days>40 and days<49:
        incentive = (days-32-8)*550+(8*325)
    if days>48:
        incentive = (days-32-16)*600+(8*325)+(8*550)
        
    return incentive

In [13]:
bonus(15)

0

In [14]:
bonus(37)

1625

In [15]:
bonus(50)

8200

5. A number is said to be Disarium if the sum of its digits raised to their
respective positions is the number itself.
Create a function that determines whether a number is a Disarium or not.

In [16]:
def is_disarium(num):
    
    n = num
    l = len(str(n))
    add = 0    
    while(l>0):
        rem = n%10
        add = add + (rem**l)
        n//=10
        l-=1

    if add == num:
        return True
    else:
        return False

In [17]:
is_disarium(544)

False

In [18]:
is_disarium(518)

True

In [19]:
is_disarium(466)

False

In [20]:
is_disarium(8)

True